@font-face {
  font-family: "KDA";
  src: url("./fonts/KDA.ttf");
}
body {
  background-color: #070707;
  font-family: "Monsterrat", sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #eee;
  letter-spacing: 1.4px;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  background-image: linear-gradient(to right, rgb(55, 55, 55) 1px, transparent 1px), linear-gradient(to bottom, rgb(55, 55, 55) 1px, transparent 1px); /* Horizontal lines */
  background-size: 25% 450px; /* 4 vertical lines and fewer horizontal lines */
  background-position: top left;
  margin: 0;
  padding: 0;
  color: white; /* Optional: to make your text readable on black */
}

@media (max-width: 600px) {
  body {
    background-image: linear-gradient(to right, rgb(55, 55, 55) 1px, transparent 1px), linear-gradient(to bottom, rgb(55, 55, 55) 1px, transparent 1px); /* Horizontal lines */
    background-size: 25% 250px; /* 4 vertical lines and fewer horizontal lines */
    background-position: top left;
    margin: 0;
    padding: 0;
    color: white; /* Optional: to make your text readable on black */
  }
}
.yellow {
  color: #ffe600;
}

a {
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-color: none;
}

#back-to-top {
  position: fixed;
  bottom: 4%;
  right: 5%;
  background-color: #ffe600;
  color: black;
  padding: 1rem;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease-in-out;
  z-index: 99;
  border: 0;
  opacity: 0;
  visibility: hidden;
  width: 4rem; /* Default width */
  height: 4rem; /* Default height */
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Horizontally center the icon */
  align-items: center; /* Vertically center the icon */
}
#back-to-top:hover {
  background-color: #ffe600;
  transform: scale(1.1);
}
#back-to-top:not(:hover) {
  transform: scale(1);
}
#back-to-top svg {
  width: 2rem; /* Adjust icon size */
  height: 2rem;
}
@media (max-width: 600px) {
  #back-to-top {
    width: 3rem; /* Smaller size for mobile */
    height: 3rem; /* Same as width for a perfect circle */
  }
  #back-to-top svg {
    width: 1.5rem; /* Adjust icon size for smaller button */
    height: 1.5rem;
  }
}

* {
  box-sizing: border-box;
}

.header {
  position: fixed;
  z-index: 100;
  width: 100%;
}

.burger {
  position: absolute;
  z-index: 10;
  right: 5vw;
  top: 5vw;
  cursor: pointer;
  transform: rotateY(0);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.burger__patty {
  width: 28px;
  height: 3px;
  margin: 0 0 3px 0;
  background: white;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.burger__patty:last-child {
  margin-bottom: 0;
}
.burger--close {
  transform: rotate(180deg);
}
.burger--close .burger__patty:nth-child(1) {
  transform: rotate(45deg) translate(4px, 4px);
}
.burger--close .burger__patty:nth-child(2) {
  opacity: 0;
}
.burger--close .burger__patty:nth-child(3) {
  transform: rotate(-45deg) translate(4px, -4px);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
}
.menu--active {
  visibility: visible;
}
.menu__brand, .menu__list {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}
.menu__list {
  margin: 0;
  padding: 0;
  background: black;
  list-style-type: none;
  transform: translate3d(0, -100%, 0);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__list--active {
  transform: translate3d(0, 0, 0);
}
.menu__brand {
  background: #111;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transform: translate3d(0, 100%, 0);
}
.menu__brand--active {
  transform: translate3d(0, 0, 0);
}
.menu__item {
  transform: translate3d(500px, 0, 0);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__item--active {
  transform: translate3d(0, 0, 0);
}
.menu__link {
  display: inline-block;
  position: relative;
  font-size: 30px;
  padding: 15px 0;
  font-weight: 300;
  color: white;
  text-decoration: none;
  color: white;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__link:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 10px;
  height: 2px;
  background: white;
  transform: translateX(-50%);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__link:hover:before {
  width: 100%;
}
.menu .menu__item:nth-child(1) {
  transition-delay: 0.1s;
}
.menu .menu__item:nth-child(2) {
  transition-delay: 0.2s;
}
.menu .menu__item:nth-child(3) {
  transition-delay: 0.3s;
}
.menu .menu__item:nth-child(4) {
  transition-delay: 0.4s;
}
.menu .menu__item:nth-child(5) {
  transition-delay: 0.5s;
}
.menu .menu__item:nth-child(6) {
  transition-delay: 0.6s;
}

@media screen and (max-width: 768px) {
  ul.menu__list,
  div.menu__brand {
    float: none;
    width: 100%;
    min-height: 0;
  }
  ul.menu__list--active,
  div.menu__brand--active {
    transform: translate3d(0, 0, 0);
  }
  .menu__list {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
  }
  .menu__link {
    font-size: 24px;
  }
  .menu__brand {
    height: 25vh;
    transform: translate3d(100%, 0, 0);
  }
  .menu__brand .menu-profile {
    width: 90px;
    height: 90px;
  }
}
.menu-profile {
  width: 200px;
  height: 200px;
  border-radius: 50%; /* Makes the container a circle */
  overflow: hidden; /* Ensures the image is confined within the circle */
  display: flex; /* Centers the image */
  align-items: center;
  justify-content: center;
}

.menu-profile > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

h1, h2, h3, p {
  margin: 0;
  font-weight: 400;
}

.support {
  position: fixed;
  bottom: 24px;
  color: rgba(0, 0, 0, 0.6);
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  min-height: 100vh;
  padding: 5rem 9% 5rem;
}

.intro .intro-content h1 {
  font-size: 4rem;
  line-height: 1.3;
  color: #eee;
  font-family: "Syncopate", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.intro-content > span {
  color: #ffe600;
}

.intro-content > h3 {
  font-size: 3rem;
  line-height: 1.3;
  color: #eee;
  font-family: "Syncopate", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.intro-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-img img {
  width: 25vw;
  height: 25vw;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 25px #eee;
  transition: 0.3s ease-in-out;
}

.intro-img img:hover {
  transform: scale(1.01);
  filter: drop-shadow(0 0 25px #eee);
}

.intro-content > p {
  font-size: 1.5em;
  line-height: 1.5em;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.social-icon a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  background: transparent;
  font-size: 2rem;
  border-radius: 50%;
  color: #ffe600;
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.3s ease;
}

.social-icon a:hover {
  color: white;
  transform: scale(1.1) translateY(-5px);
  background: #ffe600;
  box-shadow: 0 0 15px #ffe600;
}

.btn {
  display: inline-block;
  padding: 0.8rem 2rem;
  border-radius: 4rem;
  background-color: #070707;
  font-size: 1rem;
  color: #ffe600;
  border: 2px solid #ffe600;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.3s ease;
  cursor: pointer;
  margin-right: 10px;
}

.btn:hover {
  transform: scale(1.03);
  background-color: #ffe600;
  color: #070707;
  box-shadow: 0 0 15px #ffe600;
}

.typing-text {
  font-size: 34px;
  font-weight: 600;
  min-width: 400px;
  overflow: hidden;
}

.typing-text span {
  position: relative;
  display: inline-block;
}

.typing-text span::before {
  content: "";
  color: #ffe600;
  animation: words 20s infinite;
  white-space: nowrap;
}

.typing-text span::after {
  content: "";
  background-color: #070707;
  position: absolute;
  width: 100%;
  max-width: calc(100% + 8px);
  height: 100%;
  border-left: 3px solid #ffe600;
  right: 0px;
  animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
  overflow: hidden;
}

@keyframes words {
  0%, 20% {
    content: "CS Student";
  }
  21%, 40% {
    content: "Frontend Dev";
  }
  41%, 60% {
    content: "Web Designer";
  }
  61%, 80% {
    content: "UIUX Designer";
  }
  81%, 100% {
    content: "Photographer";
  }
}
@keyframes typing {
  10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95% {
    width: 0;
  }
  5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85% {
    width: calc(100% + 8px);
  }
}
@media (max-width: 1000px) {
  .intro {
    gap: 5rem;
  }
}
@media (max-width: 1290px) {
  .intro {
    flex-direction: column;
    width: 100%;
    padding: 2rem 4%; /* Adjust padding for smaller screens */
  }
  .intro-content {
    max-width: 100%; /* Prevent overflowing */
    margin: 0 auto; /* Center the content horizontally if needed */
  }
  .intro-content > h1 {
    font-size: 2.5rem !important;
    line-height: 1.2;
  }
  .intro-content > h3 {
    font-size: 1.8rem !important;
    line-height: 1.2;
  }
  .intro-content > p {
    font-size: 1rem;
    line-height: 1.5em;
  }
  .social-icon a {
    margin: 1.5rem 1rem 1.5rem 0; /* Adjust spacing for smaller devices */
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
  }
  .btn {
    padding: 0.6rem 1.5rem;
    font-size: 0.9rem;
  }
  .intro-img img {
    width: 30vw;
    height: 30vw;
  }
}
@media (max-width: 600px) {
  .intro-content > h1 {
    font-size: 2rem !important;
  }
  .intro-content > h3 {
    font-size: 1.5rem !important;
  }
  .intro-content > p {
    font-size: 0.9rem;
  }
  .social-icon a {
    margin: 1rem 0.5rem 1rem 0;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.2rem;
  }
  .btn {
    padding: 0.5rem 1.2rem;
    font-size: 0.8rem;
  }
  .intro-img img {
    width: 50vw;
    height: 50vw;
  }
  .typing-text {
    font-size: 24px; /* Reduce size for small screens */
    min-width: auto; /* Allow it to shrink dynamically */
  }
  .typing-text span::after {
    max-width: 100%; /* Restrict width to avoid overflow */
  }
}
.tech-Arsenal {
  margin-top: 50px;
  padding: 20px 40px 0 40px;
  min-height: 770px;
}

.tech-Arsenal > h1 {
  text-align: center;
  color: #eee;
  font-size: 2.5rem;
  font-family: "Syncopate", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.tech-Arsenal > p {
  text-align: center;
  color: #eee;
  margin: 50px 10% 0 10%;
  font-size: 1.5em;
  line-height: 1.5em;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.lang-img {
  margin: 100px 70px;
}

@media (max-width: 600px) {
  .tech-Arsenal > p {
    margin: 40px 2.5% 0 2.5%;
    font-size: 1.2em;
    line-height: 1.5em;
  }
  .lang-img {
    margin-left: 10px;
    margin-right: 10px;
  }
}
.lang-img > ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 70px 100px;
  padding: 0;
  margin: 0;
}

.lang-img > ul > li > a {
  text-decoration-line: none;
  text-decoration: none;
  text-align: center;
  color: #eee;
  font-size: 1.1em;
  padding-top: 10px;
  font-family: "Lexend", sans-serif;
}

.works {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.works-container > h1 {
  text-align: center;
  color: #eee;
  font-size: 2.5rem;
  margin-bottom: 45px;
  font-family: "Syncopate", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.button-card-nav-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.button-card-container {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.button-card-container > .button-space {
  display: flex;
  align-items: center;
}

.button-card-container > .button-space > button {
  border-radius: 50%;
  padding: 15px;
  border: 0;
  background-color: #eee;
  color: #070707;
  box-shadow: 0px 10px 15px #202020;
  z-index: 90;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Position for sliding cards */
  overflow: hidden;
  width: 80vw;
  min-height: 70vh;
}

.cards-container > .card {
  width: 80vw;
  min-height: 70vh;
  background-color: #333;
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  position: absolute; /* Absolute positioning for overlapping cards */
  top: 0;
  left: 100%; /* Position cards offscreen to the right initially */
  opacity: 0;
  transition: all 0.5s ease-in-out; /* Smooth transition for sliding and opacity */
}

.cards-container .card:first-child {
  display: flex;
}

.cards-container .card.active {
  left: 0; /* Bring the active card into view */
  opacity: 1;
}

.cards-container .card.inactive {
  left: -100%; /* Move inactive cards offscreen to the left */
  opacity: 0;
}

.card-nav {
  position: absolute;
  top: 10px;
  width: 100%; /* Matches the parent width */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 5px;
}

.card-nav > .dot {
  padding: 5px;
  border-radius: 45px;
  background-color: #666; /* Inactive color */
  transition: background-color 0.3s ease;
}

.card-nav .dot.active {
  background-color: #eee; /* Active color */
  padding: 5px;
}

.card > .preview {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  flex-direction: column;
  width: 50%;
}

.monitor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10% 10% 5% 10%;
}

.monitor {
  border: 10px solid black;
  border-radius: 10px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.screen img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.stand {
  width: 40px;
  height: 20px;
  background-color: black;
}

.base {
  width: 100px;
  height: 10px;
  background-color: black;
  border-radius: 5px;
}

.card > .data {
  width: 50%;
  padding: 5%;
  display: flex;
  flex-direction: column;
}

.card > .data > h1 {
  color: #eee;
  font-size: 2.5rem;
  font-family: "Lexend", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.card > .data > h4 {
  color: #eee;
  font-size: 0.8rem;
  font-family: "Lexend", sans-serif;
  font-weight: 200;
  font-style: normal;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 3px;
}

.card > .data > .description-box {
  background-color: #707070;
  width: 100%;
  border-radius: 5px;
}

.card > .data > .description-box > p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1em;
  padding: 1.5rem;
  line-height: 1.5em;
}

.redirect-container {
  flex-grow: 1; /* Take up all remaining space */
  display: flex;
  align-items: flex-end;
  margin-top: 10px;
}

.redirect-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.redirect-center > a {
  text-decoration-line: none;
  text-decoration: none;
}

.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

#button-text {
  font-family: "Lexend", sans-serif;
}

@media screen and (max-width: 890px) {
  .card > .preview {
    min-width: 260px;
    width: 100%;
    padding: 5%;
  }
  .card > .data {
    min-width: 260px;
    width: 100%;
  }
  .monitor-container {
    width: 50%;
    min-width: 260px;
  }
  .card > .data > h1 {
    font-size: 2rem;
    text-align: center;
  }
  .card > .data > h4 {
    margin-top: 30px;
  }
  .redirect-container {
    margin: 20px 0;
    align-items: center;
    justify-content: center;
  }
  .interest {
    margin-top: 100px;
  }
  .cards-container {
    min-height: 115vh;
  }
  .button-card-container > .button-space > button {
    padding: 10px;
  }
  .card-nav > .dot {
    padding: 4px;
  }
  .card-nav .dot.active {
    padding: 4px;
  }
  .button-card-nav-container {
    gap: 0;
  }
}
.interest {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.interest-container {
  margin-left: 10%;
  margin-right: 3%;
  width: 100vw;
}

.interest-container > h1 {
  font-size: 2.5rem;
  color: #eee;
  font-family: "Syncopate", sans-serif;
  font-weight: 600;
  padding: 15px 10px;
  display: flex;
  justify-content: flex-start;
}

.interest-container > .capsule {
  background-color: #070707;
  border-radius: 45px;
  border: 2px solid #eee;
  padding: 20px 40px;
  display: inline-block;
  color: #eee;
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  margin: 10px 5px;
}

@media screen and (max-width: 600px) {
  .interest-container > h1 {
    font-size: 1.6rem;
    padding: 15px 10px;
    margin-bottom: 25px;
    display: flex;
    justify-content: flex-start;
  }
  .interest-container > .capsule {
    padding: 10px 20px;
    font-size: 18px;
    margin: 7px 5px;
  }
}
*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button, input {
  font-family: "Monsterrat", sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}

.contact > .background {
  display: flex;
  min-height: 100vh;
}

.container {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
}

.screen {
  position: relative;
  background: #333;
  border-radius: 15px;
}

.screen:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: "Syncopate", sans-serif;
  color: #ffe600;
  font-size: 26px;
}

.app-title:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #ffe600;
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #888;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
  min-width: 250px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s;
}

.app-form-control::-moz-placeholder {
  color: #666;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #ffe600;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #ffe600;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }
  .screen-body-item.left {
    margin-bottom: 30px;
  }
  .app-title {
    flex-direction: row;
  }
  .app-title span {
    margin-right: 12px;
  }
  .app-title:after {
    display: none;
  }
  .app-form {
    margin-top: 20px;
  }
}
@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }
  .screen-body-item {
    padding: 0;
  }
}/*# sourceMappingURL=style.css.map */